{% set shops = {item['SCM Shop'] for item in data if (item['SCM Shop'].startswith('loa_')) == (v == 'loa') } %}
{% for shop in shops | sort if shop %}
[t:template,n:base_scm_{{ shop }}_contents]
{
	specializes = base_scm_{{ shop }}_contents_base;
	[inventory]
	{
		[store_pcontent]
		{
			full_ratio = 0;
			[all*]
			{
				{% for item in data if item['SCM Shop'] == shop %}
				{% set variants = [':'+v for v in item['Variants'].split(', ')] if item['Variants'] else [''] %}
				{% for variant in variants %}
				il_main = #{{ item['Template'] }}{{ variant }}{% if item['Rarity'] == 'rare' %}/+brilliant{% endif %};
				{% endfor %}
				{% endfor %}
			}
		}
	}
}
{% endfor %}
